<div class="container">
    <mat-card class="container-inputs mat-elevation-z8">
        <form [formGroup]="form" class="grid-container">



                <div class="select" >
                    <div class="contenido-select">
                        <h4 class="titulo">Descripción</h4>
                       <input type="text" class="descripcion"  formControlName="title" style="width: 100% !important;">
                    </div>
                </div>


            <div>
                <div class="select" id="select">
                    <div class="contenido-select">
                        <h4 class="titulo">Lenguaje</h4>
                        <p class="descripcion">Seleccionar</p>
                    </div>
                    <i class="fas fa-angle-down"></i>
                </div>

                <div class="opciones" id="opciones">
                    <a href="" class="opcion" *ngFor="let item of lenguajes">
                        <div class="contenido-opcion">
                            <img [src]="item.icon" alt="">
                            <div class="textos">
                                <h1 class="titulo">{{ item.name }}</h1>
                                <p class="descripcion">{{ item.description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </form>

    </mat-card>


    <br>

    <!--Editor de código-->
    <mat-card>
        <div class="editor-container mat-elevation-z8">
            <textarea #editor></textarea>
        </div>
    </mat-card>



</div>