/* Themes CodeMirror*/
@import "codemirror/theme/darcula";
@import "codemirror/theme/dracula";
@import "codemirror/theme/isotope";

/** https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/#mat-icon-list-category-av */

/* styles.scss */
:root {
  --color-primary: #4070f4; /* Define la variable --color-primary con el color azul como valor */
  --color-secondary: #1a1a41; /* Define la variable --color-*/
  --color-div-input: #f4f4f7;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
  border-left: 6px solid #4070f4 !important;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1) !important;
  background: #fff !important;
  border-radius: 12px;
}

.mat-progress-bar {
  margin-top: 0px !important;
  padding-top: 0px !important;
  margin-bottom: 10px !important;
}

.container {
  padding: 10px;
}

.mat-dialog-container {
  background: #fff;
  transition: height 0.2s ease;
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}





