.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr; /* Dos columnas */
  grid-template-rows: repeat(2, 1fr); /* Dos filas */
  gap: 1px; /* Espacio entre elementos */
}

.item {
  padding: 1px;
}

.item1 {
  grid-row: 1 / 3; /* Ocupa filas 1 a 3 (2 filas) */
  flex-grow: 1; /* El contenedor crecerá para adaptarse al tamaño del icono */
  display: flex; /* Utiliza Flexbox para centrar verticalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: start /* cCnta horizontalmente el contenido */;
}

.item2{
  color: #000000;
  font-weight: 700;
  font-size: 1.5rem;

}

.item3{
  color: #666666;
  font-size: 1rem;
}

.mat-icon{
  color:  var(--color-primary);
  font-size: 2rem;
}


