.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 20px;
  }
  
 
 
/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr; /* Cambiar a una columna para dispositivos móviles */
  }
}

/* Estilos para pantallas aún más pequeñas */
@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('/assets/icons/java.svg');
  background-size: cover;
}


/* Para Button ***/ 


.card {
  background-color: #F0F6FF;

}

